# fly.toml app configuration file generated for invoice-orbit on 2026-01-09T08:39:53Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "invoice-orbit"
primary_region = "sin"

[http_service]
  auto_start_machines = true
  auto_stop_machines = true
  force_https = true
  internal_port = 8501
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
