streamlit==1.52.2
extra-streamlit-components==0.1.81
reportlab==4.4.7
google-api-python-client==2.187.0
google-auth==2.45.0
google-auth-httplib2==0.3.0
google-api-core==2.28.1
googleapis-common-protos==1.72.0
